.signup-header
  .home-link
    = link_to "/" do
      = image_tag 'fmarket_logo_red.svg', height:'50'
  .progress
    %ol.progress-bar
      %li.member-information
        会員情報
        .progress-status
        .progress-status_bar
      %li.phone-number
        電話番号認証
        .progress-status
        .progress-status_bar
      %li.address
        お届け先住所入力
        .progress-status
        .progress-status_bar
      %li.payment
        支払い方法
        .progress-status
        .progress-status_bar
      %li.done
        完了
        .progress-status
        .progress-status_bar
