.exhibit-page__footer
  .exhibit-page__footer__content
    .exhibit-page__footer__content__main
      %ul.exhibit-page__footer__lists
        %li.exhibit-page__footer__list
          プライバシーポリシー
        %li.exhibit-page__footer__list
          メルカリ利用規約
        %li.exhibit-page__footer__list
          特定商取引に関する表記
    = link_to root_path,class:"exhibit-page__footer__link" do
      = image_tag "logo_gray.svg",height: "90px", width: "90px"
    %p.exhibit-page__footer__copyright
      ©︎ 2019 Mercari