%li.item-list__details
  .details
    = link_to "#" do
      %figure.details__body
        %figcaption
          %span.details__body__title
            アヒル
        %div.details__body__info
          %span.details__body__info__price
            ￥300円
          = image_tag "duck_image.jpg" ,class: "details__body__info__image",height: "188", width: "188"