.logout {
  width: calc(100% - 26% - 40px);
  float: right;

  &__content__form {
    padding: 64px;
    text-align: center;
    
    .logout__link {
      text-decoration: none;
      display: block;
      font-size: 14px;
      line-height: 48px;
      color: white;
      background-color:red;
    }
  }
}