.item-main{
  .contents{
    background-color: $color-white-d1;

    .images{
      position: relative;

      img{
        background-position: center;
        background-size: cover;
        object-fit: cover;
        object-position: 0 20%
      }
      .back{
        position: absolute;
        top: 40%;
        left:5%;
        color:$color-white-d2;
        text-shadow: 5px 5px 10px #000;
        font-size: 50px;
      }
      .next{
        position: absolute;
        top: 40%;
        right:5%;
        color: $color-white-d2;
        text-shadow: 5px 5px 10px #000;
        font-size: 50px;
      }
      .image-points{
        position: absolute;
        bottom: 0;
        left: 50%;

        &__pointer{
          margin-bottom: 30px;
          .fa-circle{
            font-size: 10px;
            padding-left: 8px;
            color: $color-white-d2;

            &--active{
              color: $color-white;
            }
          }
        }
      }
    }
  }
}

.category-pickup{
  padding: 56px 0 30px;
  background-color: $color-white;

  &__title{
    font-size: 28px;
    font-weight: 600;
    color: rgb(51,51,51);
    text-align: center;
    margin-bottom: 16px;
  }

  .pickup-popular{

    &__list{
      display: flex;
      justify-content: center;

      &__body{
        margin-top: 10px;
        margin-left: 10px;
        
        a{
          @include link-reset;
          font-size: 14px;
          padding: 8px 16px;
          font-weight: 600;
          color: rgb(51,51,51);
          background-color: $color-white-d1; 
          border-radius: 21px;
          
        }
      }
    }
  }
}

.category-popular{
  width: 74.3%;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 100px;
  .popular-items{
    margin-top: 60px;

    &--most{
      margin-top: 0;
    }

    .items-header{
      margin-bottom: 16px;
      display: flex;
      justify-content: space-between;

      &__title{
        color: rgb(51,51,51);
        font-size: 24px;
        font-weight: 600;

      }

      a{
        @include link-reset;
        color: rgb(0,149,238);
        font-weight: 600;
        font-size: 14px;
        display: flex;
        align-self: flex-end; 

        .fa-chevron-right{
          padding-left: 5px;
          font-size: 18px;
          display: block;
        }
      }
    }
  }
}

.items-newer{
  .newer-container{

    .item-list{
      display: flex;
      flex-wrap: wrap;

      &__details{
        width: 188px;
        padding: 10px;
        margin: 0;


        .details{
          box-shadow: 0 2px 4px rgba(0,0,0,0.17);

          a{
            @include link-reset;
            box-sizing: border-box;

            .details__body{
              height: inherit;
              width: inherit;
              display: flex;
              flex-direction: column-reverse;
              margin: 0;

              figcaption{
                height: 64px;
                width: 164px;
                padding: 12px 12px 0;
                background-color: $color-white;
                color: rgb(34,34,34);

                &__title{
                  align-items: center;
                  
                }
              }
              &__info{
                height: 188px;
                width: 188px;
                position: relative;
                overflow: hidden;

                &__price{
                  height: 28px;
                  border-top-right-radius: 14px;
                  border-bottom-right-radius: 14px;
                  background-color: rgba(0,0,0,0.4);
                  color: $color-white;
                  font-size: 17px;
                  align-items: center;
                  padding: 0 12px;
                  position: absolute;
                  bottom: 12px;

                }
                &__image{
                  object-fit: cover;
                }

                .sold-label{
                  $width: 150px;
                  $top: 15px;
              
                  width: $width;
              
                // 回転
                  transform: rotate(-45deg);
                  transform-origin: top center;
              
                // 移動
                  position: absolute;
                  top: $top;
                  left:( $width * -1 / 2 + $top );
              
                // はみ出さないようpaddingを設定
                  padding: 15px ( $width / 2 - $top * 1.414 );
                  box-sizing: border-box;
                  text-align: center;
                  font-size: 15px;
                  color: white;
                  font-weight: bold;
                  background-color: #ea362d;
                }
              }
            }
          }
        }
      }
    }
  }
}