.product-details__page {
  width: 100%;
  background-color: #F5F5F5;
  &__head {
    background-color: #F5F5F5;
    height:40px;
  }
  &__main {
    background-color: white;
    width: 42%;
    padding: 24px 40px 40px;
    margin: 0 auto;

    .product-name {
      font-size: 24px;
      text-align: center;
      line-height: 1.4;
    }
    &__content {
      display: flex;
      margin-top: 16px;
      &__img {
        width: 48%;
        position: relative;
        overflow: hidden;
        
        &__img {
          object-fit: contain;
        }

        .sold-label-large{
          $width: 300px;
          $top: 30px;
      
          width: $width;
      
        // 回転
          transform: rotate(-45deg);
          transform-origin: top center;
      
        // 移動
          position: absolute;
          top: $top;
          left:( $width * -1 / 2 + $top );
      
        // はみ出さないようpaddingを設定
          padding: 15px ( $width / 2 - $top * 1.414 );
          box-sizing: border-box;
          text-align: center;
          font-size: 22px;
          color: white;
          font-weight: bold;
          background-color: #ea362d;
        }

        .images-list{
          display: flex;
          flex-wrap: wrap;
          padding-right: 20px;

          &__picture{
            border: 1px solid #CCCCCC;
            border-radius: 2px;
            margin-right: 2px;
            margin-bottom: 2px;

            img{
              object-fit: contain;
            }
          }
        }
      }
      &__right {
        width: 48%;
        
        .main-content__name {
          display: flex;
          border:1px solid #F8F8FF;
          &__left {
            width:39%;
            line-height:60px;
            background-color:#F5F5F5;
            padding-left:5px;
          }
          &__right {
            width:61%;
            padding:5px 0 0 5px;
          }
        }
        .main-content__category {
          display: flex;
          border:1px solid #F8F8FF;
          &__left {
            width:39%;
            line-height:60px;
            background-color:#F5F5F5;
            padding-left:5px;
          }
          &__right {
            width:61%;
            padding:5px 0 0 5px;
          }
        }
        .main-content__brand {
          display: flex;
          border:1px solid #F8F8FF;
          &__left {
            width:39%;
            line-height:35px;
            background-color:#F5F5F5;
            padding-left:5px;
          }
          &__right {
            width:61%;
            padding:5px 0 0 5px;
          }
        }
        .main-content__size {
          display: flex;
          border:1px solid #F8F8FF;
          &__left {
            width:39%;
            line-height:35px;
            background-color:#F5F5F5;
            padding-left:5px;
          }
          &__right {
            width:61%;
            padding:5px 0 0 5px;
          }
        }
        .main-content__condition {
          display: flex;
          border:1px solid #F8F8FF;
          &__left {
            width:39%;
            line-height:35px;
            background-color:#F5F5F5;
            padding-left:5px;
          }
          &__right {
            width:61%;
            padding:5px 0 0 5px;
          }
        }
        .main-content__cost {
          display: flex;
          border:1px solid #F8F8FF;
          &__left {
            width:39%;
            line-height:35px;
            background-color:#F5F5F5;
            padding-left:5px;
          }
          &__right {
            width:61%;
            padding:5px 0 0 5px;
          }
        }
        .main-content__ways {
          display: flex;
          border:1px solid #F8F8FF;
          &__left {
            width:39%;
            line-height:35px;
            background-color:#F5F5F5;
            padding-left:5px;
          }
          &__right {
            width:61%;
            padding:5px 0 0 5px;
          }
        }
        .main-content__area {
          display: flex;
          border:1px solid #F8F8FF;
          &__left {
            width:39%;
            line-height:35px;
            background-color:#F5F5F5;
            padding-left:5px;
          }
          &__right {
            width:61%;
            padding:5px 0 0 5px;
          }
        }
        .main-content__days {
          display: flex;
          border:1px solid #F8F8FF;
          &__left {
            width:39%;
            line-height:35px;
            background-color:#F5F5F5;
            padding-left:5px;
          }
          &__right {
            width:61%;
            padding:5px 0 0 5px;
          }
        }
      }
    }
    .item-details-page__price {
      text-align: center;
      margin: 40px 0 0;
      &__price {
        font-size:50px;
        margin:0 16px 0 0;
      }
      &__tax {
        font-size:10px;
      }
      &__add {
        font-size:16px;
      }
    }


    .sold-btn{
      font-size:24px;
      line-height: 60px;
      display: block;
      margin-top: 16px;
      background: #CCCCCC;
      color: #fff;
      text-decoration: none;
      text-align: center;
      pointer-events:none;
    }
    .purchace-page-link {
      font-size:24px;
      line-height: 60px;
      display: block;
      margin-top: 16px;
      background: #ea352d;
      color: #fff;
      text-decoration: none;
      text-align: center;
    }
    .purchace-page-link:hover {
      opacity: 0.7;
    }
    .destroy-btn {
      font-size:24px;
      line-height: 60px;
      display: block;
      margin-top: 16px;
      background: #CCCCCC;
      color: #fff;
      text-decoration: none;
      text-align: center;
    }
    .destroy-btn:hover {
      opacity: 0.7;
    }
    .detail-page-edit-btn {
      font-size:24px;
      line-height: 60px;
      display: block;
      margin-top: 16px;
      background: #CCCCCC;
      color: #fff;
      text-decoration: none;
      text-align: center;
    }
    .detail-page-edit-btn:hover {
      opacity: 0.7;
    }

    .logout-user-registration {
      font-size:24px;
      line-height: 60px;
      display: block;
      margin-top: 16px;
      background: rgb(247, 132, 166);
      border: 1px solid rgb(247, 132, 166);
      color: white;
      text-decoration: none;
      text-align: center;
      border-radius: 4px;

    }

    .logout-user-registration:hover {
      opacity: 0.9;
    }

    .logout-user-login {
      font-size:24px;
      line-height: 60px;
      display: block;
      margin-top: 16px;
      background: rgb(152, 226, 245);
      text-decoration: none;
      text-align: center;
      color: white;
      border: 1px solid rgb(152, 226, 245);
      border-radius: 4px;
    }

    .logout-user-login:hover {
      opacity: 0.9;
    }

    .item-details-page-description {
      padding:32px 0 0;
      line-height: 1.5;
      font-size:18px;
    }
    .item-details-page-bottom {
      margin: 16px 0 0;
      display: flex;
      .bottom1 {
        .bottom-like {
          color: #333;
          border: 1px solid #f5f5f5;
          background: #f5f5f5;
          border-radius: 20px;
          line-height: 30px;
          margin-right: 10px;
          text-align: center;
          display: inline-block;
          padding:1px 16px;
          &-icon-like {
            font-size:14px;
            margin:1px 0 0 8px;
            vertical-align: middle;
          }
        }
        .bottom-link {
          display: inline-block;
          color: #333;
          border: 1px solid #f5f5f5;
          background: #f5f5f5;
          border-radius: 20px;
          line-height: 30px;
          text-align: center;
          text-decoration: none;
          padding:1px 16px;
          .bottom-link-icon-message {
            font-size:14px;
            margin:1px 0 0 8px;
            vertical-align: middle;
          }
        }
      }
      .bottom2 {
        font-size:14px;
        margin-left: 65px;
        display: block;
        &-link {
          color:skyblue;
          display: block;
          padding-top:10px;
          text-decoration: none;
          .bottom-link-icon-message2 {
          }
        }
      }
    }
  }
  .product-details-comment-form {
    width:47.5%;
    margin:8px auto;
    &__contents {
      background-color:white;
      .product-details-comment-form__comment {
        padding:24px;
        .one-block {
          margin-top: 10px;
          .comment-user-name {
            padding-left: 10px;
          }
          .item-comment {
            box-sizing: border-box;
            margin: 0 auto;
            width: calc(100% - 60px);
            padding: 16px;
            background: #eef0f4;
            border-radius: 15px;
            line-height: 1.5;
            word-break: break-all;
            white-space: pre-wrap;
          }
        }
      }
      .product-details-comment-form__content {
        padding:24px;
        .details-page-form-comment {
          padding: 8px;
          font-size: 14px;
          background: #fff6de;     
        }
        #comment {
          display: block;
          width: 96.5%;
          padding: 10px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          line-height: 1.5;
          margin: 8px 0 0;
          height: 100px;
        }
        .details-page-form-btn {
          background: #aaa;
          border: 1px solid #aaa;
          color: #fff;
          display: block;
          line-height: 48px;
          cursor: pointer;
          width: 100%;
          margin: 8px 0 0;
          text-align: center;
        }
        .details-page-form-btn:hover {
          opacity: 0.8;
        }
      }
    }
  }
}