.product-details__page {
  width: 100%;
  background-color: gray;
  .product-details__page__main {
    background-color: white;
    width: 42%;
    padding: 24px 40px 40px;
    margin: 40px auto 0;
    .product-name {
      font-size: 24px;
      text-align: center;
      line-height: 1.4;
    }
    .product-details__page__main__content {

      .product-details__page__main__content__img {

      }
      .product-details__page__main__content__right {

        .main-content__name {

        }
        .main-content__category {

        }
        .main-content__brand {

        }
        .main-content__size {

        }
        .main-content__condition {

        }
        .main-content__cost {

        }
        .main-content__ways {

        }
        .main-content__area {

        }
        .main-content__days {

        }
      }
    }
  }
}