.user-check-page-main {
  margin: 40px auto 0px;
  width: 71%;
  display: flex;
  
  &__main {
    width: calc(100% - 26% - 42px);
    border:1px solid #f5f5f5;
    &__contents {

      .main-contents-title {
        font-size: 24px;
        padding: 8px 24px;
        border-bottom: 1px solid #f5f5f5;
        text-align: center;
        font-weight: bold;
      }
      .main-contents-main {
        padding: 64px;
        border-top: 1px solid #f5f5f5;
        &__message {

          &__message {
            margin: 8px 0 0;
            line-height: 1.5;
            font-size: 14px;
          }
          .main-contents-main__message__message__right {
            text-align: right;
            font-size: 14px;
            .about-upload {
              text-decoration: none;
              color: #0099e8;
            }
            .about-upload:hover {
              opacity: 0.7;
              text-decoration: underline;
            }
          }
        }
        .main-contents-main__form {
          margin: 40px 0 0;
          .main-contents-main__form__name {
            font-size:14px;
          }
        }
      }
      .personal-input-form {

        .main-contents-main__form__in {
          margin: 40px 0 0;
          background-color:white;
          .form-any {
            display: inline-block;
            background-color:#CCC;
            color: white;
            font-size: 11px;
            margin-left:8px;
            padding:2px 4px;
            border-radius: 2px;
            vertical-align: top;
            font-weight: bold;
          }
          .check-user-page-btn {
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
          }
          .check-user-page-btn:hover {
            opacity: 0.7;
          }
          .registration-about {
            text-align: right;
            .registration-about__yourself {
              font-size: 14px;
              text-decoration: none;
              color: #0099e8;
            }
            .registration-about__yourself:hover {
              opacity: 0.7;
              text-decoration: underline;
            }
          }
        }
        #user_zip_code {
          width: 100%;
          margin: 8px 0 0;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          box-sizing: border-box;
        }
        #user_prefecture_id {
          width: 100%;
          margin: 8px 0 0; 
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;  
          background-color:white;     
        }
        #user_city {
          width: 100%;
          margin: 8px 0 0;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          box-sizing: border-box;
        }
        #user_house_number {
          width: 100%;
          margin: 8px 0 0;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          box-sizing: border-box;
        }
        #user_building_name {
          width: 100%;
          margin: 8px 0 0;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          box-sizing: border-box;
        }
      }
    }
  }
}