.card-form {
  .card-form-block {
    width: 700px;
    background: #fff;
    .card-header {
      font-size: 22px;
      padding: 10px 0;
      border-bottom: 1px solid #f5f5f5;
      text-align:center;
      h2 {
        font-weight: bold;
      }
    }
    
  }
}